@font-face /* pour les sections*/ 
{
	font-family: "messections";
	src: url('font family/Istok-Italic.ttf');
}
@font-face /* pour le titre*/ 
{
	font-family: "montitre";
	src: url('font family/Courier Prime Italic.ttf');
}
@font-face /* pour la music*/ 
{
	font-family: "mamusic";
	src: url('font family/AlexBrush-Regular.ttf');
}
@font-face /* pour les liens*/ 
{
	font-family: mesliens;
	src: url('font family/SegoePrint.ttf');
}

/* Header */
  
header

{
	width: 100%;

}
h1
{
	width: 100%;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: "messections";
    margin: 0px 0px 0px 0px;
    background-color: #263238;

    
}


/* général*/
a 
{
	text-decoration: none;
}

body
{
	width: 100%;
    background-color: #37474F;
    margin: -20px 0px 0px 0px;


}


#bloc_page
{
    width: 100%;
    background-color: #37474F;

}


a , a:hover /*apparence texte carte*/
{
	text-decoration: none;

}  





.Tossacointolady /* header titre */
{
   text-decoration: none;
   color: white;

}


/* Header image en rond */

.photo
{
	position: fixed;
    width: 120px;
    height: 120px;
    border-radius: 75% ;
    border: #0097A7 dotted;
    margin: -20px 0px 0px 70px;
    z-index: 999;
}


#couverture
{

    width: 100%;
    height: 300px;

}
.ma_couverture
{

	width: 100%;
    height: 300px;
    display: flex;
    align-items:flex-start;	

}



/* Header image grande photo */


/* Body */

/* Navigation sur le coté droit */

nav
{
	
	right: 10px;
	top:20%;
	position: fixed;
	background: #263238;
	width: 250px;
	height: auto;
	color: white;
	border-radius: 5px;
	border: #0097A7 dotted;
	font-size: 15px;
	padding: 0;
	text-align: justify;
	margin-right: 10px;
	font-family: "mesliens";



}
nav li
{
	text-decoration: none;
	color: white;
}



/* La playliste */

aside
{
	position: fixed;
    width: 200px;
    height: 220px;
    background-color: #263238 ;
    margin-top: -80px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    border: 2px #0097A7 double;
    color: white;
    border-radius: 15px;
    font-family: "mamusic";

}  



.music li
{

	border: 2px #263238 double;
	list-style-type: none;


}
/*Ligne survolée des chansons*/

.music li:hover 
{
      background: #111111;
}

.copy
{
	color:#0097A7 ;
	font-size: 9px;
	text-align: center;
	margin-top: 50px;

}
/* 4 cases du bas */

section
{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
}

.creation
{
    width: 350px;
    height: 100px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
.creation h2
{
	color: white;
	font-family: "messections";
	font-weight: bold;
}

.mes_photos
{
    width: 350px;
    height: 100px;
    background-color: #0097A7;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
.mes_photos h2
{
	color: white;
	font-family: "messections";
	font-weight: bold;
}

.mon_cv
{
    width: 350px;
    height: 100px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
.mon_cv h2
{
	color: white;
	font-family: "messections";
	font-weight: bold;
}

.libres_services
{
    width: 350px;
    height: 100px;
    background-color: #0097A7;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
.libres_services h2
{
	color: white;
	font-family: "messections";
	font-weight: bold;
}


/* les animations */


.block /* carte animation*/ 
{

	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
 .block:hover  {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0.7;
}

.wiz:hover /* animation wiz footer */ 
{
	animation: shake 0.6s;
	animation-iteration-count: infinite;
	background: transparent; 
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }


}



/* le footer*/

footer
{
	margin: 50px 0px 30px 0px;
	background: #263238;
}
 
footer a /* Liens  */
{
   text-decoration: none;
   color: white;
   font-family: "montitre";



}

footer  a:hover /* Apparence au survol des liens */
{
	text-decoration: none;
	color: #0097A7;
}

.footer_du_site
{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	background: #263238;
	flex-wrap: nowrap;
	position: fixed;
	bottom: 0;
	justify-content: center;
	font-size: 15px;

}
/* place au responsive*/









/* très grand écran */
@media all and (min-width: 1600px) and (max-width: 2560px)
{

	h1
	{	
    font-size: 90px;
   
	}
	.ma_couverture
	{
	width: 100%;
    height: 450px;

	}
		header
	{
	margin-bottom: 150px;
	}
	.photo
	{
	position: fixed;
    width: 300px;
    height: 300px;
    border-radius: 75% ;
    border: #0097A7 dotted;
    margin: -40px 0px 0px 70px;
    z-index: 999;
	}
	nav /*navigation*/
	{
	right: 10px;
	top:20%;
	position: fixed;
	width: 450px;
	height: auto;
	text-align: justify;
	margin-right: 50px;
	font-size: 30px
	}
	aside /*music*/
	{
	position: fixed;
    width: 420px;
    height: 550px;
    background-color: #263238 ;
    margin-top: -80px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    border: 2px #0097A7 double;
    color: white;
    border-radius: 15px;
    font-size: 50px;
	}  
	.copy
	{
	font-size: 30px;
	}
	section
	{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	}
	.creation
	{
    width: 550px;
    height: 200px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	font-size: 35px;
	}

	.mes_photos
	{
    width: 550px;
    height: 200px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	font-size: 35px;
	}

	.mon_cv
	{
    width: 550px;
    height: 200px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	font-size: 35px;
	}

	.libres_services
	{
      width: 550px;
    height: 200px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	font-size: 35px;
	}



	.footer_du_site
	{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	background: #263238;
	flex-wrap: nowrap;
	position: fixed;
	bottom: 0;
	justify-content: center;
	font-size: 30px;

	}





}

/*RESOLUTION ECRAN*/
@media all  and (max-width: 1024px)
{

	h1
	{	
    font-size: 40px;
   
	}
	.ma_couverture
	{
	width: 100%;
    height: 150px;

	}
	.photo
	{
	position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 75% ;
    border: #0097A7 dotted;
    margin: -20px 0px 0px 70px;
    z-index: 999;
	}
	nav /*navigation*/
	{
	right: 10px;
	top:20%;
	position: fixed;
	width: 200px;
	height: auto;
	text-align: justify;
	margin-right: 10px;
	font-size: 12px;
	}
	aside /*music*/
	{
	position: fixed;
    width: 150px;
    height: 180px;
    background-color: #263238 ;
    margin-top: -80px;
    margin-left: 30px;
    padding: 0px 5px 0px 5px;
    border: 2px #0097A7 double;
    color: white;
    border-radius: 11px;
	}  
	.copy
	{
	font-size: 8px;
	margin-top: -10px;
	}
	section
	{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	}
	.creation
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.mes_photos
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.mon_cv
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.libres_services
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}


	.footer_du_site
	{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	background: #263238;
	flex-wrap: nowrap;
	position: fixed;
	bottom: 0;
	justify-content: center;
	font-size: 15px;

	}



}




/*RESOLUTION ECRAN TABLETTE */
@media all  and (max-width: 768px)
{

	h1
	{	
    font-size: 30px;
   
	}
	.ma_couverture
	{
	width: 100%;
    height: 120px;

	}
	header
	{
	margin-bottom: 80px;
	}
	.photo
	{
	position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 75% ;
    border: #0097A7 dotted;
    margin: -20px 0px 0px 70px;
    z-index: 999;
	}
	nav /*navigation*/
	{
	right: 10px;
	top:20%;
	position: fixed;
	width: 180px;
	height: auto;
	text-align: justify;
	margin-right: 10px;
	font-size: 10px;
	}
	aside /*music*/
	{
	position: fixed;
    width: 130px;
    height: 130px;
    background-color: #263238 ;
    margin-top: -130px;
    margin-left: 30px;
    border: 2px #0097A7 double;
    color: white;
    font-family: mesliens;
    border-radius: 9px;
    font-size: 9px
	}  
	.copy
	{
	font-size: 5px;
	margin-top: -10px;
	}
	section
	{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	}
	.creation
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.mes_photos
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.mon_cv
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.libres_services
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}


	.footer_du_site
	{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	background: #263238;
	flex-wrap: nowrap;
	position: fixed;
	bottom: 0;
	justify-content: center;
	font-size: 15px;

	}



}

/* téléphone */
@media screen and (min-width: 320px) and (max-width: 720px) 
{
	h1
	{	
    font-size: 20px;
   
	}
	header
	{
	margin-bottom: 80px;
	}
	.ma_couverture
	{
	width: 100%;
    height: 100px;

	}
	.photo
	{
	position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 75% ;
    border: #0097A7 dotted;
    margin: -5px 0px 0px 20px;
    z-index: 999;
	}
	nav /*navigation*/
	{
	position: absolute;
	width: 150px;
	height: auto;
	text-align: justify;
	margin-right: 5px;
	font-size: 10px;
	}
	aside /*music*/
	{
	position: absolute;
    width: 120px;
    height: 170px;
    background-color: #263238 ;
    margin-top: -190px;
    margin-left: 5px;
    border: 2px #0097A7 double;
    color: white;
    border-radius: 9px;
	}  
	.copy
	{
	font-size: 8px;
	margin-top: -10px;
	}
	section
	{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	}
	header
	{
	margin-bottom: 180px;
	}
	.lien1
	{
	    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.creation
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.mes_photos
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.mon_cv
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    margin: 10px 10px 10px 10px;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}

	.libres_services
	{
    width: 250px;
    height: 80px;
    background-color: #0097A7;
    display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	}


	.footer_du_site
	{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	background: #263238;
	flex-wrap: nowrap;
	position: fixed;
	bottom: 0;
	justify-content: center;
	font-size: 15px;

	}


}